@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: #F5E9DA; /* Vintage Cream */
    font-family: 'Varela Round', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    list-style-type: none;
    height: 65px;
    background-color: #9A8C98; /* Dusty Mauve */
    display: flex;
    color: #4A3F35; /* Vintage Brown */
    align-items: center;
}

nav ul li {
    padding: 20px;
    font-size: 1.2em;
    color: #4A3F35;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li:hover {
    color: #D8B4A0; /* Faded Peach on hover */
}

.brand img {
    height: 55px;
    padding: 0 8px;
    width: auto;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 1.5em;
    color: #4A3F35;
}

.container {
    display: flex;
    margin: 23px auto;
    ;
 flex-direction: column;
    background-color: #BFA5A0; /* Antique Rose */
    color: #4A3F35;
    width: 70%;
    flex-wrap: wrap;
    min-height: 72vh;
    font-family: Varelsa Round, sans-serif;
    padding: 20px;
    border-radius: 15px;
    background-image: url('albumm.jpg');
}

.bottom {
    background-color: #A26769; /* Muted Rosewood */
    color: #F5E9DA;
    height: 70px;
    bottom: 0;
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: sticky;
}

#myProgressbar {
    width: 100%;
    background-color: #C9ADA7; /* Soft Rose Taupe */
    border-radius: 5px;
    margin-top: 20px;
    margin: 5px ;
}

.icons {
    margin-top: 10px;
}

.icons i {
    cursor: pointer;
    color: #4A3F35;
    transition: color 0.3s ease;
}

.icons i:hover {
    color: #D8B4A0;
}
.songItemContainer {
   
    margin-top: 30px;
    padding: 10px;
   
    
}

.songItem {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px 15px;
   margin: 12px 0;
   justify-content: space-between;
   align-items: center;
   flex-shrink: 0   ;
   border-radius: 20px;
   overflow: hidden;
    background-color: #d2bcb2; /* Light Beige */
    color: #4A3F35;
}
.songItem img {
    width: 50px;
    height: 50px;
    margin: 23px 0;
    border-radius: 5px;
    border-radius: 10px;
}
.timeStamp {
    font-size: 0.8em;
    color: #4A3F35;
    margin-left: 10px;
    
}
.timeStamp i{
    cursor: pointer;
    
}
.songInfo{
    position: absolute;
    left: 0;
  
}

.songInfo img{
   opacity: 0;
    transition: opacity 0.8s ease;
}